<div class="container rounded bg-white mt-5 mb-5">
	<div class="row">
		<div class="d-flex flex-column align-items-center text-center p-3 py-5">
			<img 
				class="rounded-circle mt-5"
				width="150" src="/public/uploads/thread-lock.jpg"
				alt="admin picture"
			>
			<br>
			<h1>Administrator</h1>
		</div>
		<h2 class="text-center">Log In</h2>
		<form action="/admin/login" method="post" name="adminlogin" id="login-form">
			<fieldset class="input">
				<h3 id="login-form-username">
					<label for="modlgn_username">Username</label>
					<input id="modlgn_username" type="text" name="username" class="inputbox"
						size="18" autocomplete="off" />
				</h3>
				<h3 id="login-form-password">
					<label for="modlgn_passwd">Password</label>
					<input id="modlgn_passwd" type="password" name="password" class="inputbox"
						size="18" autocomplete="off" />
				</h3>
				<p class= "err">{{error}}</p>
				<div class="remember">
					<p id="login-form-remember">
					</p>
					<input type="submit" name="Submit" class="button" value="Login" />
					<div class="clear"></div>
				</div>
			</fieldset>
		</form>
	</div>
</div>