<div class="container rounded bg-white mt-5 mb-5">
    <form id="form-user-new" action="/users/signup" method="post">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150" src="/public/uploads/profile.jpg" alt="profile"></div>
                <label for="imageUpload" class="labels">User Image</label>
                <input
                id="imageUpload"
                name="imageUpload"
                accept="image/*"
                class="form-css"
                type="file"
                {{!--id="formFileMultiple"--}}
            />
            </div>
            {{!-- <a href="/">sign up here</a> --}}
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <br>
                        <h1 class="text-centre">Sign Up</h1>
                        <br>
                        <br>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><h2><label for="firstName" class="labels">First Name</label></h2><input type="text" id="firstName" name="firstName" class="form-control" placeholder="First"></div>
                        <div class="col-md-6"><h2><label for="lastName" class="labels">Last Name</label></h2><input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last"></div>
                    </div>
                    <div class="row mt-3"> 
                        <div class="col-md-12"><h3><label for="userName" class="labels">Username</label></h3><input type="text" id="userName" name="userName" class="form-control" placeholder="Username"></div>
                        <div class="col-md-12"><h3><label for="password" class="labels">Password</label></h3><input type="text" id="password" name="password" class="form-control" placeholder="Password"></div>
                        <div class="col-md-12"><h3><label for="email" class="labels">Email</label></h3><input type="text" id="email" name="email" class="form-control" placeholder="Email" ></div>
                        <div class="col-md-12"><label for="makeupLevel" class="labels">Makeup Level</label>
                            <select id="makeupLevel" name="makeupLevel" class="form-control">
                                <option value = "Basic" selected>Basic</option>
                                <option value = "Intermediate">Intermediate</option>
                                <option value = "Advanced">Advanced</option>
                            </select>
                        </div>
                        <br>
                        <br>
                        <p id="adduser-error" class="err"></p>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Create Account</button></div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </form>    
</div>

<script src="/public/js/users.js"></script>